
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
form{
  background-color: rgba(255, 0, 0, 0.7);
  margin: -10px 35em;
  padding: 10px;
}
.form-group {
  margin: 10px 0px;
}
body{
  background-repeat: no-repeat;
  background-image: url('https://media.giphy.com/media/3o7TKUGccxlaQqdgRO/giphy.gif');
  background-size: 100% 150%;
}
h1, h2, ol, label, .form-group{
  color: wheat;
  
}

table {
  width: 100%;
}
th, td {
  padding: 5px;
  border: 1px solid rgba(160, 142, 4, 0.879);
  text-align: center;
}
th {
  background: rgb(255, 150, 150);
}
tr:nth-child(odd) {
  background: #eee;
}
tr:nth-child(even) {
  background: rgb(208, 223, 134);
}
input[type='radio']{
  margin-left:30%;
}

button {
  background-color: rgb(106, 65, 5); 
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 75%;
}

